@import '../../style/communs.scss';
#accueil{
 // outline: 10px solid yellow;
  height:400px;
}
header {
  display: flex;
  justify-content:space-around;
  align-items:center;
 flex-wrap: wrap;
}

.containerLogoHeader img {
  object-fit: cover;
  //outline: 10px solid yellow;
  width: 280px;
  height: 280px;
  border-radius: 30px;
}

