@import '../../style/communs.scss';

header {
//  outline: 10px solid yellow;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
 flex-wrap: wrap;
 margin-top:30px;
}

.containerLogoHeader img {
  object-fit: cover;
  width: 280px;
  height: 280px;
  border-radius: 30px;
}

