@import "../../style/communs.scss";

.content {
  text-align: center;
  margin: 10px;
}

.containerWhyCard {
    display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.containerWhyCard .card {
   cursor: pointer;
}

.containerWhyCard .card .face {
  width: auto;
  height: 200px;
  transition: 0.6s;
}

.containerWhyCard .card .face.face1 {
  position: relative;
  background: $colorTitle;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.containerWhyCard .card:hover .face.face1 {
  background: $colorTitlelight;
  transform: translateY(0);
}

.containerWhyCard .card .face.face1 .content {
  opacity: 0.6;
  transition: 0.5s;
}

.containerWhyCard .card:hover .face.face1 .content {
  opacity: 1;
}

.containerWhyCard .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: $colorWhite;
  text-align: center;
  align-items: center;
  font-size: 1.5em;
}

.containerWhyCard .card .face.face2 {
  position: relative;
  background: $colorWhite;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transform: translateY(-100px);
}

.containerWhyCard .card:hover .face.face2 {
  transform: translateY(0);
}

.containerWhyCard .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.containerWhyCard .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  padding: 5px;
 }

.containerWhyCard .card .face.face2 .content a:hover {
   color: $colorWhite;
}
