@import "../../style/communs.scss";

.cards-listWhy {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cardWhy:hover {
  transform: scale(0.9, 0.9);
}

@media all and (max-width: 500px) {
  .card-listWhy {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.cardWhy {
  display: flex;
  flex-direction: column;
  margin: 60px auto;
  width: 600px;
  height: 380px;
  border-radius: 40px;
  display: flex;
  background-position: center;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
}

.whyImg {
  height: 200px;
  background: white;
  object-fit: contain;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  &:hover {
    box-shadow: 5px 5px 30px 7px white, -5px -5px 30px 7px white;
  }
}
.containerWhy {
  display: flex;
  flex-direction: column;
  color: white;
  background: linear-gradient(rgba(254, 213, 49), rgba(247, 191, 124));
  height: auto;
}
.titleWhy {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}
.titleWhyDetail {
  font-size: 30px;
  margin-bottom: 10px;
}
.detailWhyCard {
  padding: 25px;
}
