@import './responsive.scss';
@import './mixin.scss';

body {
  background: black;
  margin: 0;
  font-family: 'Montserrat',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  height: 100vh;
  padding: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.containerHistory{
  position: absolute;
  width: 100%;
  top: 900px;
}


@media #{$small-down} {
  .react-reveal{
    opacity: 1 !important;
    } 
 
}