@import "../../style/communs.scss";
> #mesPrestations {
  align-items: center;
}
.containerPrestations {
  display: flex;
  flex-direction: column;
}
.card {
  width: 230px;
  height: 325px;
  position: relative;
  perspective: 1000px;
  transform: perspective(1000px) translateY(0);
  transform-style: preserve-3d;
  transition: transform $animation-speed-fast ease-in-out;
}

.card-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.card-wrapper:hover {
  .card {
    transform: rotateY(179deg);
    z-index: 2;
    .text-overlay {
      opacity: 0;
      transform-style: preserve-3d;
      z-index: 1;
    }
    .purchase-button-container {
      opacity: 1;
    }
  }
}
.titleh2 {
  font-weight: bold;
  font-size: 18px;
  width: 50%;
}
.text-overlay {
  transform: perspective(1000px) translateY(0) translateZ(80px);
  transition: transform $animation-speed-fast ease-in-out,
    opacity $animation-speed-slow ease;
  pointer-events: none;
  width: 100%;
  perspective: inherit;
  padding-top: 80px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.price,
.titleh2Price {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
}
.price {
  font-size: 1.8rem;
  margin: 10px;
}
.titleh2Price {
  font-size: 1.6rem;
  margin-top: -20px;
}
.purchase-button-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0;
  top: 0;
  transform: perspective(1000px) rotateY(179deg) translateY(0) translateZ(80px);
  opacity: 0;
  z-index: -1;
  transition: transform $animation-speed-fast ease-in-out,
    opacity $animation-speed-slow ease;
  width: 100%;
  height: 100%;

  .purchase-button {
    padding: 10px 40px;
    border-radius: 50px;
    font-size: 1.2rem;
    transition: background-color 0.25s ease, color 0.25s ease;
    cursor: pointer;
  }
}

.details-text {
  margin-top: 20px;
  display: flex;
  gap: 10px 10px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 1rem;
}

small {
  font-size: 1rem;
  font-weight: 200;
}

@media #{$medium-down} {
  .titleh2 {
    font-size: 20px;
  }
}

//theme
html.dark {
  .light {
    border: 1px solid white;
  }
  .card-wrapper:hover {
    .card {
      .purchase-button-container {
        border: 1px solid White;
      }
    }
  }
  .titleh2 {
    color: White;
  }
  small {
    color: White;
  }
  .details-text {
    color: White;
  }
  .purchase-button-container {
    color: White;
  }
}

html.light {
  .light {
    border: 1px solid black;
  }
  .card-wrapper:hover {
    .card {
      .purchase-button-container {
        border: 1px solid black;
      }
    }
  }
  .titleh2 {
    color: black;
  }
  small {
    color: black;
  }
  .details-text {
    color: black;
  }
  .purchase-button-container {
    color: black;
  }
}
