

footer{
    height:200px;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%,rgba(74, 71, 95) 100%);
}
.containerLogoFooter img{
width:100px;
height:100px;
object-fit: cover;
border-radius: 10px;
margin: 20px;
}
