@import '../../style/communs.scss';

.bannerTxt{  
    display: flex;
  flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: space-between;
   //outline:10px solid blue;
   padding: 50px;
}
.containerAccroche, .demandedevisTxt{
      color: rgba(247, 191, 124);
      font-style: italic;
    text-align: center;
}

.containerBannerImg{
    width: 100%;
}
.containerBannerImg img{
position: absolute;
width: 100%;
    z-index: -1;
    top: 0;
    opacity: 0.9;
}


.containerAccroche{
    font-size:50px;
     
}
.demandedevisTxt{
    font-size:30px;
}

@media #{$medium-down} {
    .bannerTxt{
        //outline:10px solid red;
        padding: 50px;

    }
    .containerAccroche, .demandedevisTxt{
            font-size:30px;
    }}